@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:black;
    color: #fff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

header h2{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
}
header h2 span{
    color:greenyellow;
}

.navbar {
    /* margin-left: 600px; */
    margin-left: 400px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}

a:hover{
    text-decoration: underline;
}

header .button{
    margin-right:30px;
    transition: .4s;
    border-radius: 10px;
}

header .button .btn{
    width: 123px;
    padding: 10px;
    background-color:transparent;
    border: 1px  solid white;
    outline: none;
    color: #fff;
    box-shadow: 0 0 10px white;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}

.button:hover{
    scale: 1.1;
    box-shadow: 0 22px 30px yellowgreen;
}

/* ==================Home Page Style*/

.home{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

.home .right{
    margin-top: 60px;
    margin-left: 70px;
}

.right h3{
    font-size: 33px;
    font-weight: bold;
}
.right h1{
    font-size: 38px;
    font-weight: bold;
    color: yellowgreen;
}
.right p{
    font-size: 16px;
    font-weight: bold;
    color:gray;
    width: 80%;
}

.right .buttton{
    margin-top: 10px;
}


.right .buttton #btn{
    width: 133px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 12px white;
    border: 2px solid white;
    outline: none;
    background-color:transparent;
    cursor: pointer;
    transition: .4s;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

#btn:hover{
    scale: 1.1;
    box-shadow: 0 15px 30px yellowgreen;
    filter: drop-shadow( 0 22px 30px blue);
}

.home .left{
    margin-top: 40px;
    /* margin-right: 200px; */
    margin-right: 100px;
}

.left form{
    padding: 10px;
    border: 1px solid white;
    border-radius: 9px;
    background-color:transparent;
    width: 270px;
    height: 310px;
    box-shadow:  0 22px 30px blue;
    text-align: center;
    outline: none;
}

form h1{
    font-size: 22px;
    font-weight: bold;
}

form .sanjay{
    padding: 10px;
    width: 90%;
    background:transparent;
    margin: 7px;
    border: 1px solid white;
    outline: none;
    color: #fff;
}
form .check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    text-align: center;
}

.check h3{
    font-size:8.5px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.left .social-media{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
.left .social-media li{
  width: 35px;
  height: 35px;
  border: 1px solid white;
  box-shadow:  0 12px 30px white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .4s;
}

.social-media li a{
    color: #fff;
}

.left .social-media li:hover{
scale: 1.1;
box-shadow:  0 12px 30px blue;
}

form .butttton {
    margin-top: 15px;
}

#btn-02{
    width: 90%;
    padding: 10px;
    border: 1px solid white;
    background-color:yellowgreen;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
    box-shadow:  0 0px 10px blue;
    color: black;
    border: 2px solid blue;
}

#btn-02:hover{
    scale: 1.1;
    box-shadow: 0 22px 30px yellowgreen;
    background-color:blue;
    color: white;
    outline: none;
    border-radius: 14px;
    border: 2px solid blue;
}


.icon{
    position: absolute;
    margin-left: 210px;
    margin-top: -41px;
}
.icon li a{
   color: #fff;
}
::placeholder{
    color: #fff;
}